<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>Hello World App</title>
  </head>
  <body>
    <h1 th:text="'Bootcamp Thymeleaf ' + ${message} + ' App'"> </h1>
    <h2 th:text="'Bootcamp Thymeleaf ' + ${message} + ' App'"> </h2>
    <h3 th:text="'Bootcamp Thymeleaf ' + ${message} + ' App'"> </h3>
    <h4 th:text="'Bootcamp Thymeleaf ' + ${message} + ' App'"> </h4>
    <h5 th:text="'Bootcamp Thymeleaf ' + ${message} + ' App'"> </h5>
  </body>
</html>